.card-button {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: rgb(223, 69, 8);
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;

}