<form [formGroup]="_pessoaFormControllerService.pessoaForm" (ngSubmit)="onFormSubmit()">
    <label for="name"> Nome: </label>
    <input type="text" id="name" formControlName="nome"/>
    <!-- <p *ngIf="pessoaForm.get('nome')?.hasError('required')">O nome é obrigatório!</p> -->
    <p *ngIf="_pessoaFormControllerService.nomeControl.hasError('required')">O nome é obrigatório!</p>

    <br />

    <label for="email"> Email: </label>
    <input type="text" id="email" formControlName="email"/>

    <br />

    <div formGroupName="endereco"> <!-- FormGroupName porque ele é m form group filho, está dentro de outro formGroup-->
        <h4> Endereço: </h4>

        <label for="street"> Rua: </label>
        <input type="text" id="street" formControlName="rua"/>
        <p *ngIf="_pessoaFormControllerService.pessoaForm.get('endereco')?.get('rua')?.hasError('required')">A rua é obrigatória!</p>
        <!-- Forma sem alias, inteira  -->

        <br />

        <label for="number"> Número: </label>
        <input type="text" id="number" formControlName="numero"/>
        <!-- <p *ngIf="endereco.get('rua')?.hasError('required')">O número é obrigatório!</p> -->
        <!-- Forma com alias -->
        <!-- <p *ngIf="_pessoaFormControllerService.endereco.rua.hasError('required')">O número é obrigatório!</p> -->
        <!-- Outra forma de fazer o erro -->
    </div>

    <!-- <button type="submit" [disabled]="!_pessoaFormControllerService.pessoaForm.valid" (click)="mostrarValue()"> Enviar </button>

    <br />

    <button (click)="alteracaoTotal()"> Alteração toal! </button>

    <br />

    <button (click)="alteracaoParcial()"> Alteração  parcial </button> -->

    <p> Formulário válido: {{ _pessoaFormControllerService.pessoaForm.valid }} </p>
    <p> Formulário endereço válido: {{ _pessoaFormControllerService.pessoaForm.get('endereco')?.valid }} </p>
</form>