/* You can add global styles to this file, and also import other style files */
body {
    background-color: beige;
}

.meu-texto {
    background-color: crimson;
    color: cornsilk;
}

.meu-tamanho {
    font-size: 30px;
}

.meu-teste {
    background-color: 'deeppink';
    color: 'gray'; 
}