<form [formGroup]="musicasForm">
    <button (click)="adicionarMusica()"> + Adicionar </button>

    <div formArrayName="musicas">
        <div *ngFor="let musica of musicas.controls; let i = index;">
            <!-- Vai acessar os controls presente no elemento dono do alias -->
            <label [for]="'musica - ' + i">Música:</label>
            <input type="text" [id]="'musica - '+ i" [formControlName]="i" />
            <!-- Ligando o input ao array -->
            <button (click)="removerMusica(i)"> - Remover </button>
        </div>
    </div>

    <p>Form Musicas válido: {{ musicasForm.valid }} </p>
    <p>Form Array válido: {{ musicas.valid }} </p>
</form>