<!-- <div>
  Div:
  <app-meu-comp></app-meu-comp>
</div>

<ng-container>
  Container:
  <app-meu-comp></app-meu-comp>
</ng-container>
<!-- Apenas o conteúdo é carregado no DOM -->
 <!-- O ng já é carregado assim que o Angular o encontra -->

<!-- <ng-template>
  Template:
  <app-meu-comp></app-meu-comp>
</ng-template> -->
<!-- Não é renderizado no DOM final, apenas ao ser específicado -->
 <!-- Lógica não é disparada, não sobrecarregando o processamento -->


 <ng-template #headerTemplate>
  <p>Sou o Header</p>
 </ng-template>

 <ng-template #contentTemplate>
  <p>Sou o Content</p>
 </ng-template>

 <ng-template #footerTemplate>
  <p>Sou o Footer</p>
 </ng-template>
 
 
 <app-card 
 [header]="headerTemplate"
 [content]="contentTemplate"
 [footer]="footerTemplate"
 ></app-card>
