<form #meuForm="ngForm" (ngSubmit)="onSubmit(meuForm)">
    <ng-container ngModelGroup="grupoUsario" #grupoUsuario="ngModelGroup">
        <h2> Dados do usuário: </h2>
        <input name="nome" ngModel placeholder="Nome" required />
        <input name="idade" ngModel placeholder="Idade" required />

        <p> Estado do Usário </p>
        <p> Válido: {{ grupoUsuario.valid }} </p>
        <p> Sujo: {{ grupoUsuario.dirty }} </p>
        <p> Tocado: {{ grupoUsuario.touched }} </p>
    </ng-container>
    
    <ng-container ngModelGroup="grupoProfissao" #grupoProfissao="ngModelGroup">
        <h2> Dados da Profissão: </h2>
        <input name="cargo" ngModel placeholder="Cargo" required />
        <input name="setor" ngModel placeholder="Setor" required />

        <p> Estado do Usário </p>
        <p> Válido: {{ grupoProfissao.valid }} </p>
        <p> Sujo: {{ grupoProfissao.dirty }} </p>
        <p> Tocado: {{ grupoProfissao.touched }} </p>
    </ng-container>

    <button [disabled]="meuForm.invalid"> Enviar </button>

</form>