.card-cancel-button {
    max-width: 350px;
    background-color: #ee1b1b;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}