<label for="nationalities"> Selecione uma nacionalidade </label>

<select
    id="nationalities"
    name="nationalities"
    [(ngModel)]="nationalitySelected"
    #meuSelectFormControl="ngModel"
    required
>
    <option value="" selected></option>
    <option *ngFor="let nationality of nationalities" [value]="nationality.id"> {{ nationality.description }} </option>

</select>

<p> Nacionalidade Selecionada: {{ nationalitySelected }} </p>

<h3>Estado do Select: </h3>
<p> Válido: {{ meuSelectFormControl.valid }} </p>
<p> Tocado: {{ meuSelectFormControl.touched }} </p>
<p> Sujo: {{ meuSelectFormControl.dirty }} </p>