<div class="card">
  <!-- <h1 class="ca-u-card-text-title">  -->
    <!-- ca -> curso angular/ u -> utils -->
    <!-- Sou o título do card
  </h1> -->

  <app-card-text-title>
    Sou um outro título do card
  </app-card-text-title>
  <!-- Diretiva com projeção de conteúdo -->

  <!--  -->

  <!-- <h1 class="ca-u-card-text-subtitle">
    Sou o subtítulo do card
  </h1> -->

  <app-card-text-subtitle>
    Sou um outro subtítulo do card
  </app-card-text-subtitle>

  <!--  -->

  <!-- <h1 class="ca-u-card-text-description">
    Sou a descrição do card
  </h1> -->

  <app-card-text-description color="hotpink">
    Sou uma outra descrição do card
  </app-card-text-description>
</div>

<!-- <img src="assets/images/download.png" class="ca-u-card-avatar-small" /> -->

<app-card-avatar-small>
  <img src="assets/images/download.png" />
</app-card-avatar-small>

<!-- <img src="assets/images/download.png" class="ca-u-card-avatar-large" /> -->

<app-card-avatar-large>
  <img src="assets/images/download.png" />
</app-card-avatar-large>