<input type="text" #meuInput />
<br>

Valor: {{ meuInput.value }}
<br>

<button (click)="changeDetection()">Atualizar</button>
<br><br>
<!--  -->
<input type="text" #meuNovoInput [(ngModel)]="teste" />
<br>

Valor: {{ teste }}
<br><br>
<!--  -->
<input type="text" #meuOutroInput ngModel />
<br>

Valor: {{ meuOutroInput.value }}
<br>

<button (click)="clicou(meuOutroInput)"> Atualizar input </button>
<br> <br>

<!--  -->
Meu input: <input type="text" #maisUmInput /> 
<!-- # template variable -->
<br>

<button (click)="updateInputText()"> Atualizar o input </button>
<br> <br>

<button (click)="focus()"> Foco </button>

<br> <br>

<div #minhaDiv >
  Conteúdo inicial!
</div>

<br>

<button (click)="changeText()"> Mudar conteúdo </button>

<!--  -->

<app-filho #meuCompFilho></app-filho>
<br> <br>

<button (click)="hello()"> Dizer olá </button>
<br> <br> <br>
<input type="text" #meuInputFoco>